.flex-vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}
