.post{
    margin-bottom: 22.5px;
    .post__img__wrapper{
        display: block;
        height: 164px;
        margin-bottom: 25px;
        overflow: hidden;
        .post__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease .5s;
        }
    }
    .post__desc{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .post__desc__content{
            @include text-style( $fs-2 , normal , $lh-4 , $black-4 , left );
            text-transform: uppercase;
        }
        .post__desc__content.post__contact{
            display: flex;
            align-items: center;
            gap: 4px;
            .post__contact__text{
                margin-top: 2px;
            }
        }
    }
    .post__data{
        .post__title{
            display: block;
            @include text-style( $fs-7 , $medium , $lh-1 , $black-1 , left );
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        .post__content{
            @include text-style( $fs-6 , normal , $lh-4 , $black-3 , left );

        }
    }
}
.post:hover{
    .post__img__wrapper{
        .post__img{
            transform: scale(1.2);
        }
    }
}
.post__button{
    @extend .section-button;
}